

body {
    background-image: url("/Users/christopherstavnes/Desktop/Basic-Portfolio/assets/images/dust_scratches.png");
    width: 960px;
}
#top {
    background-color: #ffffff;
    width: auto;
}
.head {
    float: left;
}
h1 {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 10px;
 }
h2 {
    border-bottom: 2px solid #777777;
    color: #4aaaa5;
    margin: 10px;
}
.nav {
    float: left;
    margin-bottom: 60px;
    margin-left: 400px;
    font-family: 'Georgia', Times, Times New Roman, serif;  
}
.nav li {
    display: inline-block;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}
.l,.ll { 
    border-right: 2px solid #777777;
    padding-right: 5px;
}

.head,.nav {
    display: inline-block;
}

.box {
    float: left;
    width: 650px;
    border: solid 1px #777777;
    margin-right: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
}

.sidebox {
    float: left;
    width: auto;
    border: solid 1px #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
}

.sidebox img {
    height: 50px;
    width: 50px;
    margin: 10px;
    
}

img {
    align: left;
    height: 100px; 
    width: 100px; 
}

img.floatLeft {
    float: left;
    margin: 5px;
}

.foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
label {
    display: block;
    padding: 10px;
}
form { 
    width: 400px;
    height: 450px;
    margin: auto;
}
.textinputone,.textinputtwo {
    width: 375px;
}
.textinput{
    width: 375px;
    height: 225px;
}
.button {
    background-color: #4aaaa5;
    width: 80px;
    height: 40px;
    color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}
.container {
    width: 600px;;
}
.projects { 
    background: #ffffff;
    float: left;
    height: 600px;
    width: 650px;
    padding: 10px;
    margin-right: 20px;
    border: solid 1px #777777;
}
.projectimg {
    height: 150px;
    width: 150px;
    margin: 20px;
}